.App {
  background-color: #282c34;
  color: #f9dc5c;
  min-height: 100vh;
}

.home-login {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-title {
  font-family: 'Spartan';
}

.home-quip {
  font-family: 'Montserrat';
  font-style: italic;
}

.home-btn {
  font-family: 'Spartan';
  border-color: #f9dc5c;
  color: #f9dc5c;
}
.home-btn:hover {
  font-family: 'Spartan';
  background-color: #f9dc5c;
  border-color: #f9dc5c;
  color: #282c34;
}

.home-grid {
  display: grid;
  grid-template: 1fr / 200px 1fr;
  min-height: 100vh;
}

.hg-left {
  display: flex;
  flex-direction: column;
  grid-column: 1 span 1;
  background-color: #f9dc5c;
  display: flex;
  color: hsl(220, 13%, 18%);
}

.hg-center {
  display: flex;
  flex-direction: column;
  grid-column: 2 span 1;
  align-items: center;
  justify-content: center;
}

.hg-right {
  /* display: flex; */
  grid-column: 2 span 1;
  align-items: center;
  justify-content: center;
  width: 100%
}

.form-control {
  width: 100%;
  /* border: 1px solid#ccc; */
  /* padding: 1px; */
}

.control-error {
  border: 1px solid red;
}

.form-title {
  font-size: calc(10px + 2vmin);
}

.event-form {
  font-family: 'Montserrat';
  background-color: #282c34;
  color: #f9dc5c;
  padding: 10px;
  max-height: 100vh;
  overflow-y: scroll;
}

.calendar {
  font-family: 'Montserrat';
  max-height: 10vh;
}

