.result-grid {
  display: grid;
  grid-template: 1fr / 50px 200px 1fr;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.result-image {
  display: flex;
  grid-column: 1 span 1;
  height: 50px;
  border-radius: 50%;
  margin: auto;
}

.result-info {
  grid-column: 2 span 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /* display: grid;
  grid-template: 1fr 1fr / 1fr; */
  color: #282c34;
  margin: 0 10px;
}

.result-info-name {
  display: flex;
  margin: 0;
  /* flex-direction: column;
  justify-content: flex-end; */
  /* grid-row: 1 span 1; */
  font-size: 1.5em;
}

.result-info-email {
  display: flex;
  margin: 0;
  word-wrap: anywhere;
  /* grid-row: 2 span 1; */
  font-size: 1em;
}

.result-button {
  display: flex;
  justify-content: flex-end;
  grid-column: 3 span 1;
  margin: auto 0;
}